@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>ESTRUCTURA DE DATOS 1</h1>
        <p class="lead">Laboratorio 1: “Implementación y análisis de estructuras lineales”</p>
        <p class="text-info">

            <br />José Vinicio De León    1072619

            <br />Javier Andrés Morales 1210219
             
            <br />
        <p>El ultimo commit realizado fue en el repositorio https://github.com/josedeleon2017/LAB-1---FINAL.git, pero por conflictos en el merge se resubio la version estable.
            El Ing. Miguel esta enterado de la situación y nos dio autorización
        </p>
        
    </div>